.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}

.flex-item-left {
  width: 35vw;
  min-width: 450px;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 60vw;
  min-width: 618px;
  max-width: 720px;
  background-color: #FAFAFA;
  border-radius: 25px;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.4);

  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10vh;
}

@media screen and (max-width: 618px) {
  .flex-container {
    align-items: flex-start;
  }

  .content-container {
    background-color: white;
    box-shadow: none;
  }
}