.Descriptive {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 90%;
}


.graphs-select {
  display: inline-block;
  border-radius: 5px;
  font-size: 0.9em;
  padding: 5px 10px;
  width: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.chart {
  justify-content: space-between;
}