.Form {
  min-height: 300px;
  text-align: center;
  padding: 20px;
}

.form-field {
  width: 100%;
  margin: 25px 0px;
  font-size: 1.1em;
}

.form-label {
  display: inline-block;
  width: 30%;
  text-align: left;
}

.form-input {
  display: inline-block;
  width: 60%;
  background-color: #dfe9f5;
  font-size: 0.9em;
  border-radius: 10px;
  padding: 5px 10px;
  border: none;
  float: right;
}

select:hover,
select:active {
  background-color: #f0f4fa;
}

*:focus {
  outline: none;
  border: none;
}

.form-submit {
  background-color: #dfe9f5;
  font-size: 0.9em;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  float: right;
}

.form-submit:hover {
  background-color: #f0f4fa;
}
